.spell {
    background: var(--accent-color);
    border-radius: 0px;
    padding-bottom: 30px;
  }
  .spell-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  .spell-entry {
    padding: 10px 20px 20px 20px;
  }
  
  section.spell a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.spell a::after {
    content: "\203A";
    margin-left: 5px;
  }